body{
    padding:0;
    margin:0;
}
a{
    color: inherit;
    text-decoration: inherit;
}
/*Header/Navbar*/
header{
    margin: 0%;
    color:#cc66a3;
    position:sticky;
    top:0;
    background-color: white;
    height: 60px;
    width:100%;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif ;
    box-shadow: .1px 1px 10px lightgray;
}
/*right elements*/
#rightBox{
    list-style-type: none;
    float:right;
    margin-right:40px;
    padding-top: 10px;
}
.nBR{ 
    float:right;
    margin-right:25px;
}
/*left elements*/
.nBL{
    float:left;
    margin:10px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}
#leftBox{
    margin-top:10px;
    float:left;
    margin-left:40px;
    font-size: 24px;
}
.icon{
    margin-bottom:-2px;
    height: 16px;
    width:16px;
}
#dropDownButton{
    font-size:50px;
    margin-top:-10px;
    user-select: none;
    width: 24px;
}
/*Dropdown menu on nav bar*/
#dropDownMenuBox{
    display: none;
    width: 390px;
    /* border-style: dashed; */
    color:#cc66a3;
    background-color: white;
    height:100%;
    position:fixed;
    box-shadow: .1px 0px 4px lightgray;
}
#dropDownMenuList{
    list-style: none;
    margin: auto;
}
.ddMenuItem{
    padding:25px;
    margin-left:30px;
    font-size: 20px;
}
/*Center title and hours*/
#title{
    color:#cc66a3;
    font-size: 60px;
    font-family: "Times New Roman", Times, serif;
}
#content{
    padding:50px;
    text-align: center;
    font-family:Verdana, sans-serif ;
}
.button{
    background-color: #cc66a3;
    color:white;
    padding:20px 55px;
    border:none;
    border-radius: 2px;
}
#hero{
    display:block;
    max-width: 1100px;
    width: 80%;
    margin:auto;
    padding: 30px 0px
}
/*testimonials*/
.line{
    display: block;
    margin: auto;
    width:50px;
    background-color: black;
    height: 2px;
}
.smallTitle{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.seperator{
    padding-top: 80px;
}

#testimonials{
    overflow:hidden;
    width:80%;
    max-width: 1100px;
    display:block;
    margin:auto;

}
.testimonialBlock{
    float: left;
    display: block;
    margin:15px;
    width:28%;
    font-family:Verdana, sans-serif ;
    font-size: 14px;
}
.pinkName{
    color:#cc66a3;
    font-weight: bold;
}
#pinkLinks{
    display: block;
    margin:auto;
    width:80%;
    text-align: center;
}
.pinkLink{
    font-size: 14px;
    font-family:Verdana, sans-serif ;
    color:#cc66a3;
    font-weight: bold;
    border-bottom: 1px solid #cc66a3;
    display:inline-block;
    padding-bottom: 8px;
    margin: 0px 16px;
}

/*Gallery*/
#gallery{
    padding-top:50px;
    max-width: 1100px;
    width:80%;
    display:block;
    margin:auto;
}
.galleryImage{
    width: 33%;
    margin: auto;
    display: inline-block;
}

/*Contact/Directions*/
#gmapsImg{
    padding: 20px 0px;
    width: 80%;
    max-width: 1100px;
    margin:auto;
    display: block;
    clip-path:polygon(50%)
}
#infoBlocks{
    width: 80%;
    max-width: 1100px;
    margin: auto;
}
.infoBlock{
    height: 100%;
    display:inline-block;
    width:40%;
    font-family: Verdana, sans-serif ;
    display:table-cell;
    font-size: 14px;
}
.footerTitle{
    font-family:Verdana, sans-serif ;
    font-weight: bold;
    font-size: 16px;
}
/*Footer*/
#bottomLine{
    background-color:rgb(141, 141, 141);
    width: 80%;
    max-width: 1100px;
    height:1px;
    margin: auto;
    margin-bottom: 10px;
}
#footer{
    color:rgb(141, 141, 141);
    width: 80%;
    max-width: 1100px;
    margin: auto;
}
.footerElement{
    display: inline-block;
    margin: auto;
    width: 32%;
    padding:10px 0px 20px 0px;
    font-size:12px;
    text-align: center;
}